<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>

<body>
    <main class="project-detail">
        <div>
            <h1>{{ project.name }}</h1>
            {% for project in project.all %}
            <p>
                <a href="{% url 'show_project' projects.pk %}">{{ project.description }}</a>
            </p>
            {% endfor %}
        </div>
    </main>
</body>

</html>