{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>

        <p>You are not assigned to any projects</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <td>{{ project.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}